<%- include("partials/boiler") -%>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/add_post.css">

    <!-- <link rel="stylesheet" href="/css/sidebarstyles.css"> -->
    <%- include("partials/header") -%>

        <!-- <body class="profile-page"> -->

        <div class="parent_container">
            <div class="cont">
                <div class="pic">
                    <img src="/img/profilePic/<%= user.ProfileImg %>" alt="Profile picture" class="profile_pic">
                </div>
                <div class="mainbody">
                    <p class="name">
                        <%= user.Name %>
                    </p>
                    <p class="fieldOfInterest">A <%= user.FieldOfInterest %> enthusiast</p>
                    <div>
                        <i class="icons fa-solid fa-envelope" data-toggle="popover" title="<%= user.Email %>"
                            data-content="Some content inside the popover"></i>
                        <i class="icons fa-solid fa-phone" data-toggle="popover" title="<%= user.PhoneNumber %>"></i>
                        <i class="icons fa-sharp fa-solid fa-location-dot" data-toggle="popover"
                            title="<%= user.Address %>"></i>
                        <!-- <i class="icons fa-solid fa-qrcode" data-toggle="popover" data-html="true" title = "<img src = '/img/qrPic/pulkit.png' />"></i> -->
                    </div>
                    <p class="bio">
                        <%= user.Bio %>
                    </p>
                    <div class="links">
                        <a href="/myprofile/<%= user.Username %>" class="linkbutton">
                            <div class="link">
                                <i class="fa-solid fa-icons"></i>
                                <p>View Posts</p>
                            </div>
                        </a>
                        <a href = "/add_post">
                            <div class="link">
                                <i class="fa-sharp fa-solid fa-camera-retro"></i>
                                <p>View Ideas</p>
                            </div>
                        </a>
                        <a>
                            <div class="link">
                                <i class="fa-solid fa-square-plus"></i>
                                <p>Add Post</p>
                            </div>
                        </a>
                        <a href = "/qr/<%= user.Username %>">
                            <div class = "link">
                                <i class="fa-solid fa-qrcode"></i>
                                <p>View QR</p>
                            </div>
                        </a>
                    </div>


        <form class="data" action = "/add_post/<%= user.Username %>" enctype="multipart/form-data" method = "POST">
            <div class="form-group postfield">
              <label for="exampleFormControlInput1" class="postdata">Post Title</label>
              <input type="text" class="form-control dataplace" id="exampleFormControlInput1" name = "title">
            </div>
        
        
            <label for="formFileLg" class="form-label postdata">Choose image</label>
        <input class="form-control form-control-lg upfile" id="formFileLg" type="file" name = "uploadFile"/>
         
         
            <div class="form-group postfield">
              <label for="exampleFormControlTextarea1"class="postdata" >Description</label>
              <textarea class="form-control desc dataplace" id="exampleFormControlTextarea1" minlength = "100" rows="5" name = "description"></textarea>
            </div>
        
            <button class="addme" type = 'submit'>Add Post</button>
          </form>

        </div>
    </div>
</div>
        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <%- include("partials/footer") -%>
        </body>