<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="/css/dashboardstyles.css">
  <link rel="stylesheet" href="/css/sidebarstyles.css">
  <%- include("partials/header") -%>
    <%- include("partials/sidebar") -%>

      <% if(!otheruser) { %>
        <div style="display:flex; justify-content:space-around;">
        <div style="display:flex; justify-content:center;">
          <div>
            <img src="/img/profilePic/<%= user.ProfileImg %>" class="rounded-circle"
              style="width: 200px; position: relative; left:40rem;;" alt="Avatar" />
          </div>

          <div class="myprofile" style="position:absolute; margin-left:3rem ; padding-left:0rem">
            <div class="userdata">
              <p class="data field">Name</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.Name %>
              </p>
            </div>
            <div class="userdata">
              <p class="data field">Username</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.Username %>
              </p>
            </div>
            <div class="userdata">
              <p class="data field">Email</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.Email %>
              </p>
            </div>
            <div class="userdata">
              <p class="data field bio">Bio</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.Bio %>
              </p>
            </div>
            <div class="userdata">
              <p class="data field">Country Region</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.Country %>
              </p>
            </div>
            <div class="userdata">
              <p class="data field">Field of Interest</p>
              <p class="data">:</p>
              <p class="data">
                <%= user.FieldOfInterest %>
              </p>
            </div>
            <div>
              <img src="/img/profilePic/<%= user.ProfileImg %>" class="rounded-circle"
                style="width: 200px; position: relative; left:40rem;;" alt="Avatar" />
            </div>
          </div>

          <% } else { %>
            <div style="display:flex; justify-content:space-around;">
            <div>
              <img src="/img/profilePic/<%= otheruser.ProfileImg %>" class="rounded-circle"
                style="width: 200px; position: relative; left:40rem;;" alt="Avatar" />
            </div>

            <div class="myprofile" style="position:absolute; right:25rem;">
              <div class="userdata">
                <p class="data field">Name</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.Name %>
                </p>
              </div>
              <div class="userdata">
                <p class="data field">Username</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.Username %>
                </p>
              </div>
              <div class="userdata">
                <p class="data field">Email</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.Email %>
                </p>
              </div>
              <div class="userdata">
                <p class="data field bio">Bio</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.Bio %>
                </p>
              </div>
              <div class="userdata">
                <p class="data field">Country Region</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.Country %>
                </p>
              </div>
              <div class="userdata">
                <p class="data field">Field of Interest</p>
                <p class="">:</p>
                <p class="data">
                  <%= otheruser.FieldOfInterest %>
                </p>
              </div>
            </div>

            <% } %>
        </div>
      </div>
        <%- include("partials/footer") -%>
          </body>