<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="/css/ideas.css">
  <%- include("partials/header") -%>
    <div class = "ideas-container">
        <span class = "container-heading">IDEAS</span>
        <button class = "add-post" onclick="openForm()">ADD IDEA</button>
        <div class = "main-container">
            <div class = "left-container">
                <% for(var i = 0; i < allIdeas.length; i++){ %>
                <div class = "containers">
                    <div class = "text-content">
                        <h5><%= allIdeas[i].Title %></h5>
                        <p><%= allIdeas[i].Description.substring(0, 100) %><a class="pop-up-button"><span>..Read more</span></a></p>
                    </div>
                    <br>
                    <h6>Created by <%= allIdeas[i].Username %></h6>
                    <h7>Date Posted : <%= allIdeas[i].Date %></h7>
                </div>
                <% } %>
            </div>
            
            <div class = "fltr-container">
                <form action="/filter_ideas" method="POST">
                <ul type = "none" class = "filter-list">
                    <li class = "filter-list-items">
                        <span class ="filter-heading">FILTERS</span>
                    </li>
                    <li class = "filter-list-items">
                        <input class="form-check-input" name = "filter" value = "Paintings" type="radio" id="flexRadioDefault1" >
                        <span>PAINTINGS</span>
                    </li>
                    <li class = "filter-list-items">
                        <input class="form-check-input" name = "filter" value = "Photography" type="radio" id="flexRadioDefault1">
                        <span>PHOTOGRAPHY</span>
                    </li>
                    <li class = "filter-list-items">
                        <input class="form-check-input" name = "filter" value = "Jewellery" type="radio" id="flexRadioDefault1">
                        <span>JEWELLERY</span>
                    </li>
                    <li class = "filter-list-items">
                        <input class="form-check-input" name = "filter" value = "Handicraft" type="radio" id="flexRadioDefault1">
                        <span>HANDICRAFT</span>
                    </li>
                    <li class = "filter-list-items">
                        <input class="form-check-input" name = "filter" value = "Fashion" type="radio" id="flexRadioDefault1">
                        <span>FASHION</span>
                    </li>
                    <button class="filter">Filter</button>
                </ul>
            </form>
            </div>
        </div>
    </div> 

<div class="form-popup" id="myForm">
    <button class="btn" type="submit" onclick="closeForm()">X</button>
  <form action="/addIdeas" method = "POST" class="form-container">  

    <div class="form-row">
        <div class="col-md-12 mb-2">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="validationDefault01" name = "title" placeholder="Title"
                value="" required>
        </div>
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea rows="4" class="form-control" id="validationTextarea" name = "description" placeholder="Description"
                required></textarea>
        </div>
    <label for="category">Category Type</label>
    <select name="category">
        <option value="Paintings">PAINTINGS</option>
        <option value="Photography">PHOTOGRAPHY</option>
        <option value="Jewellery">JEWELLERY</option>
        <option value="Handicraft">HANDICRAFT</option>
        <option value="Fashion">FASHION</option>
    </select>
    <div>
    <button type="submit" class="pbtn" style="width: 5rem; height:2.3rem;">POST</button>
</div>
  </form>
</div>
    <%- include("partials/footer") -%>
    <script src="\script\ideas.js"></script>
