<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="/css/mypoststyles.css">
  <link rel="stylesheet" href="/css/sidebarstyles.css">
  <%- include("partials/header") -%>
    <%- include("partials/sidebar") -%>
      <div class="mypost">
        <label id="topic"><b><%= user.FieldOfInterest %></b></label>

        <% if(allPosts.length!=0){ %>
          <div style="overflow-y: scroll;" class="eventcards">
            <div class="cards">
              <% for(var i=0; i < allPosts.length; i++) { %>
                <div class="card">
                  <form action="/deletePost" , method="POST">
                    <input type="text" class="inputfield" name="title" value="<%= allPosts[i].Title %>">
                    <button class="btn" type="submit">X</button>
                  </form>
                  <img class="card-img-top" src="/img/postPic/<%= allPosts[i].postPicture %>" alt="Card image cap">
                  <div class="card-body mb-4">
                    <p>
                      <%= allPosts[i].Title %>
                    </p>
                    <p class="card-text">
                      <%= allPosts[i].Description.substring(0, 100) %><br><a href="#">Read more</a>
                    </p>
                   <a href=""><%= allPosts[i].Username %></a>
                  </div>
                </div>
                <% } %>
            </div>
          </div>
        <% } else { %>
            <div><p>You have not posted anything yet!</p></div>
        <% } %>
      </div>
      </div>
      <%- include("partials/footer") -%>

        </body>
        <script>
          const arr = document.getElementsByClassName("inputfield");
          for (var i = 0; i < arr.length; i++) {
            arr[i].style.display = "none";
          }
        </script>