<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="/css/dashboardstyles.css">
  <link rel="stylesheet" href="/css/sidebarstyles.css">
  <%- include("partials/header") -%>
    <%- include("partials/sidebar") -%>
 
  
    <div>
        <img src = "/img/qrPic/<%= user %>.png" />
    </div>
    </div>

    <%- include("partials/footer") -%>
</body>